@model AoC.Api.Domain.UseCases.GameManager

@{
    ViewData["Title"] = "Game";
}

<h2>Game</h2>

<h4>Manager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Game">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaxPopulation" class="control-label"></label>
                <input asp-for="MaxPopulation" class="form-control" />
                <span asp-validation-for="MaxPopulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyOr" class="control-label"></label>
                <input asp-for="QtyOr" class="form-control" />
                <span asp-validation-for="QtyOr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyWood" class="control-label"></label>
                <input asp-for="QtyWood" class="form-control" />
                <span asp-validation-for="QtyWood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyStone" class="control-label"></label>
                <input asp-for="QtyStone" class="form-control" />
                <span asp-validation-for="QtyStone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPopulation" class="control-label"></label>
                <input asp-for="TotalPopulation" class="form-control" />
                <span asp-validation-for="TotalPopulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Load">Back to my games</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
