html {
    height: 100%;
}

body {
    height : 100%;
    background-color: black;
}


.title-medieval {
    font-family: 'MedievalSharp', cursive;
}


.form-control, .btn {
    border-radius: 0 !important;
}

.btn-primary {
    background-color: #264465;
    border-color: #ffcc00;
}

.btn-primary:hover {
    background-color: #33577d;
    border-color: #0062cc;
}

input.form-control {
    background-color: #3b3d3e;
    border-color: #ffcc00;
}

/******** INDEX *************/
#index_title {
    color: dimgray;
    font-family: 'MedievalSharp', cursive;
    font-size: 200px;
}

#navCollapsed {
    color: white;
}