@model IList<Merovingie.Models.GameFileDetailModel>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.CreationDate
                @item.Name
                @item.Path
            </td>
        </tr>
}
    </tbody>
</table>
